# Django
*.pyc
__pycache__/
db.sqlite3
media/

# Python
*.py[cod]
*.so
build/
dist/
*.egg-info/
*.egg
.DS_Store


# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
