# Django
*.pyc
__pycache__/
db.sqlite3
db.sqlite3.backup
media/
staticfiles/
debug.log
*.log
*.sock

# Migration dosyaları GİTSİN (migration sorunlarını önlemek için)
# migrations/ klasörleri ve içindeki .py dosyaları git'e dahil edilecek

# Python
*.py[cod]
*.so
build/
dist/
*.egg-info/
*.egg
.DS_Store


# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
