{% extends 'base.html' %}
{% load static %}
{% block title %}Profil anzeigen – Ihr Benutzerkonto verwalten{% endblock %}
{% block description %}Sehen Sie Ihre persönlichen Daten, aktualisieren Sie Kontoinformationen und verwalten Sie Ihre Einstellungen bequem an einem Ort.{% endblock %}
{% block content %}
<!--begin::Toolbar-->
<div class="toolbar py-5 py-lg-15" id="kt_toolbar_view">
    <div id="kt_toolbar_container_view" class="container-xxl d-flex flex-stack flex-wrap">
        <h3 class="text-white fw-bolder fs-2qx me-5">Profil anzeigen</h3>
    </div>
</div>
<!--end::Toolbar-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start  container-xxl ">
    <div class="content flex-row-fluid" id="kt_content">
        <div class="d-flex flex-column flex-xl-row">
            <div class="flex-lg-row-fluid ms-lg-10">
                <!--begin::details View-->
                <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                <div class="card-header cursor-pointer">
                    <div class="card-title m-0">
                    <h3 class="fw-bold m-0">Profildetails</h3>
                    </div>
                    <a href="{% url 'profil_duzenle' %}" class="btn btn-primary align-self-center">Profil bearbeiten</a>
                </div>

                <div class="card-body p-9">
                    <!-- Profil Resmi -->
                    <div class="row mb-7">
                        <label class="col-lg-4 fw-semibold text-muted">Profilbild</label>
                        <div class="col-lg-8">
                            <div class="symbol symbol-100px symbol-lg-120px">
                                {% if user.resim %}
                                    <img src="{{ user.resim.url }}" alt="Profilbild" class="rounded" />
                                {% else %}
                                    <img src="{% static 'assets/media/avatars/user.png' %}" alt="Standardbild" class="rounded" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Benutzername -->
                    <div class="row mb-7">
                    <label class="col-lg-4 fw-semibold text-muted">Benutzername</label>
                    <div class="col-lg-8">
                        <span class="fw-bold fs-6 text-dark">{{ user.username|default:"—" }}</span>
                    </div>
                    </div>

                    <!-- Vorname Nachname -->
                    <div class="row mb-7">
                    <label class="col-lg-4 fw-semibold text-muted">Vollständiger Name</label>
                    <div class="col-lg-8">
                        <span class="fw-bold fs-6 text-dark">
                        {{ user.first_name|default:"" }} {{ user.last_name|default:"" }}{% if not user.first_name and not user.last_name %}—{% endif %}
                        </span>
                    </div>
                    </div>

                    <!-- E-Mail -->
                    <div class="row mb-7">
                    <label class="col-lg-4 fw-semibold text-muted">E-Mail</label>
                    <div class="col-lg-8">
                        <span class="fw-bold fs-6 text-dark">{{ user.email|default:"—" }}</span>
                    </div>
                    </div>

                    <!-- Rolle -->
                    <div class="row mb-7">
                    <label class="col-lg-4 fw-semibold text-muted">Rolle</label>
                    <div class="col-lg-8">
                        <span class="fw-bold fs-6 text-dark">{{ user.rol|default:"—" }}</span>
                    </div>
                    </div>

                    <!-- Registriert am -->
                    <div class="row mb-7">
                    <label class="col-lg-4 fw-semibold text-muted">Registriert am</label>
                    <div class="col-lg-8">
                        <span class="fw-bold fs-6 text-dark">{{ user.date_joined|date:"d.m.Y H:i" }}</span>
                    </div>
                    </div>
                </div>
                </div>
                <!--end::details View-->


                <!--begin::List widget 1-->
                <!-- <div class="card card-flush mb-5 mb-xl-10">
                    <div class="card-header pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold text-dark">Highlights</span>
                            <span class="text-gray-400 mt-1 fw-semibold fs-6">Neueste soziale Statistiken</span>
                        </h3>
                    </div>
                    <div class="card-body pt-5">
                        <div class="d-flex flex-stack">
                            <div class="text-gray-700 fw-semibold fs-6 me-2">Durchschn. Kundenbewertung</div>
                            <div class="d-flex align-items-senter">
                                <i class="ki-duotone ki-arrow-up-right fs-2 text-success me-2"><span class="path1"></span><span class="path2"></span></i>
                                <span class="text-gray-900 fw-bolder fs-6">7.8</span>
                                <span class="text-gray-400 fw-bold fs-6">/10</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed my-3"></div>
                        <div class="d-flex flex-stack">
                            <div class="text-gray-700 fw-semibold fs-6 me-2">Instagram-Follower</div>
                            <div class="d-flex align-items-senter">
                                <i class="ki-duotone ki-arrow-down-right fs-2 text-danger me-2"><span class="path1"></span><span class="path2"></span></i>
                                <span class="text-gray-900 fw-bolder fs-6">730k</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed my-3"></div>
                        <div class="d-flex flex-stack">
                            <div class="text-gray-700 fw-semibold fs-6 me-2">Google Ads CPC</div>
                            <div class="d-flex align-items-center">
                                <i class="ki-duotone ki-arrow-up-right fs-2 text-success me-2"><span class="path1"></span><span class="path2"></span></i>
                                <span class="text-gray-900 fw-bolder fs-6">2,09 €</span>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--end::LIst widget 1-->
            </div>
        </div>
    </div>
</div>
<!--end::Container-->
{% endblock %}
